.login-page{
    width: 40%;
    height: auto;
    background-color: white;
    position: absolute;
    top: 10%;
    right: 30%;
    box-shadow: 1px 2px 1px 2px rgb(192, 196, 186);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}
.login-page>p{
    font-size: 14px;
}
a{
    text-decoration: none;
}
.titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    position: relative;
    margin-bottom: 20px;
}
.titles>h2{
    cursor: pointer ;
    font-size: 20px;
}

.login-page>.loginline{
    width: 55px;
    height: 8px;
    background-color: rgb(75, 5, 75);
    border-radius: 5px;
    margin: 10px;
  
}

.input-container>.inputfield{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    padding-left: 35px;
    background-color:rgb(225, 236, 198);
    border: none;
    outline: none;
    height: 30px;
    border-radius: 5px;
}
.signup{
    position: relative;
}
.signup:after{
    content: "";
    position: absolute;
    background-color: rgb(75, 5, 75);
    height: 5px;
    width: 75%;
    left: 10%;
    bottom: -10px;
    transition: 3s;
    border-radius: 20px;
}
/*
.login{
    position: relative;
}
.login:after{
    content: "";
    position: absolute;
    background-color: rgb(75, 5, 75);
    height: 5px;
    width: 75%;
    left: 25%;
    bottom: -10px;
    transition: 0.3s;
    border-radius: 20px;
}
*/

.login-page>.buttons>button{
    border: none;
    background-color: rgb(75, 5, 75);
    color: white;
    padding: 10px 30px;
    margin: 30px;
    border-radius: 15px;
    cursor: pointer;
}
.checkbox{
    display: block ;
    width: 70%;
   
}
.checkbox>div>input,.checkbox>p,.checkbox>div>label{
    margin: 15px 10px 0 0;
    font-size: 16px;
}

small{
    margin-top: 10px;
    color: red;
    display: none;
}
.error{
    display: block;
  
}
.none{
    display: none;
}

.input-container{
    position: relative;
    left: 0;
    width: 80%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input-container>button{
    position: absolute !important;
    margin-top: 8px !important;
    cursor: none !important;
    font-size: 14px !important;
    left: 0;
}
.MuiSvgIcon-root,.MuiSvgIcon-fontSizeMedium,.css-i4bv87-MuiSvgIcon-root{
    font-size: 18px !important;

}


@media screen and (max-width:450px) {
    .login-page{
        width: 90%;
        right: 5%;
    }   
    .titles{
        width: 60%;
    }
    
    .input-container{
        width: 95%;
    }
    .checkbox{
        width: 90%;
    }
}

@media screen and (min-width:451px) {
    .login-page{
        width: 70%;
        right: 15%;
    }   
    .titles{
        width: 60%;
    }
  
    .input-container{
        width: 90%;
    }
    
}
@media screen and (min-width:760px) {
    .login-page{
        width: 70%;
        right: 15%;
    }     
    .titles{
        width: 40%;
    }
   
    .input-container{
        width: 80%;
    }
 
}
@media screen and (min-width:1020px) {
    .login-page{
        width: 40%;
        right: 30%;
    }   
    .titles{
        width: 40%;
    }
    .input-container{
        width: 70%;
    }
}
@media screen and (min-width:1400px) {
    .login-page{
        width: 40%;
        right: 30%;
    }   
    .input-container{
        width: 70%;
    }
}

